version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: finzy
      POSTGRES_USER: finzy
      POSTGRES_DB: finzy
    ports: ["5432:5432"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U finzy -d finzy"]
      interval: 5s
      timeout: 3s
      retries: 20
    volumes:
      - dbdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports: ["6379:6379"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

  web:
    build: .
    environment:
      NODE_ENV: production
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      JWT_ACCESS_SECRET: ${JWT_ACCESS_SECRET}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
      # Sử dụng Postgres trong compose
      DATABASE_URL: postgres://finzy:finzy@db:5432/finzy
      # Redis URL cho BullMQ
      REDIS_URL: redis://redis:6379
      NEXT_PUBLIC_API_URL: /api
      NEXT_PUBLIC_APP_ORIGIN: http://localhost:3000
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports: ["3000:3000"]

volumes:
  dbdata:
